<div id="header">
			<h1> Welcome to Zach's Ties! </h1>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Zach's Ties</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="/order">Place Order</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/create"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit Account</a></li>
						<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</nav>
		</div>
