<!DOCTYPE html>
<html>
<head>
  <% include ../partials/zach_header.ejs %>
</head>

<body id="background1">

  <% include ../partials/zach_nav.ejs %>
	<div class="forms">
		<form method="post" action="/create" onkeypress="return event.keyCode != 13;">
			<div class="form-group">
				<label for="name">Name (First and Last): </label><br/>
				<input id="name" class="form-control" name="name" type="text"></input>
			</div>
			<div class="form-group">
				<label for="address">Street Address: </label><br/>
				<input id="address" class="form-control" name="address" type="text"></input>
			</div>
			<div class="form-group">
				<label for="city">City: </label><br/>
				<input id="city" class="form-control" name="city" type="text"></input>
			</div>
			<div class="form-group">
				<label for="state">State: </label><br/>
				<input id="state" name="state" class="form-control" type="text"></input>
			</div>
			<div class="form-group">
				<label for="zip">Zip: </label><br/>
				<input id="zip" name="zip" class="form-control" type="text"></input>
			</div>
			<div class="form-group">
				<label for="email">Email: </label><br/>
				<input id="email" class="form-control" name="email" type="email"></input>
			</div>
			<div class="form-group">
				<label for="phone">Phone: </label><br/>
				<input id="phone" class="form-control" name="phone" type="phone"></input>
			</div>
			<div class="form-group">
				<label for="username">Username: </label><br/>
				<input id="username" class="form-control" name="username" type="text"></input>
			</div>
			<div class="form-group">
				<label for="password">Password: </label><br/>
				<input id="password" class="form-control" name="password" type="password"></input>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" onclick="return createAndEditValidate()" value="Create Account"></input><br/>
			</div>
		</form>
	</div>
</body>
</html>