<!DOCTYPE html>
<html>
<head>
  <% include ../partials/zach_header.ejs %>
</head>

<body id="background1">

  <% include ../partials/zach_nav.ejs %>
	<div class="forms">
		<form method="post" action="/login" onkeypress="return event.keyCode != 13;">
			<div class="form-group">
				<label for="username">Username:</label><br/>
				<input class="form-control" id="username" name="username" type="text"></input>
			</div>
			<div class="form-group">
				<label for="password">Password:</label><br/>
				<input class="form-control" id="password" name="password" type="password"></input>
			</div>
			<div class="form-group">
				<input class="btn btn-default"type="submit" onclick="return loginValidate()" value="Login"></input>
			</div>
		</form>
	</div>
	<div class="gap">
	</div>
	<% include ../partials/zach_footer.ejs %>
</body>
</html>