<!DOCTYPE html>
<html>
<head>
  <% include ../partials/zach_header.ejs %>
</head>

<body id="background1">

  <% include ../partials/zach_nav.ejs %>
	<div class="forms">
		<form method="post" action="/confirm" onkeypress="return event.keyCode != 13;">
			<input id="numTies" name="numTies" type="number">Number of Ties</input><br/>
			<input id="dateNeeded" name="dateNeeded" type="date">Date Needed By</input><br/>
			<input id="color" name="color" type="text">Color</input><br/>
			<input id="pattern" name="pattern" type="text">Pattern (Floral, Stripes, Polka Dots, etc.)</input><br/>
			<input id="fabric" name="fabric" type="text">Type of Fabric</input><br/>
			<input id="notes" name="notes" type="textarea">Notes</input><br/>
			<select name="method">
				<% for(var i=0; i < result.length; i++) { %>
				<option name="method"><%= result[i] %></option>
				<% } %>
			</select><br/>
			<button type="button" value="Continue" onclick="return checkOrder()">Continue</button><br/>
			<input id="confirm" type="submit" value="Place Order"></input><br/>
		</form>
	</div>
</body>
</html>