<!DOCTYPE html>
<html>
<head>
  <% include ../partials/zach_header.ejs %>
	
</head>

<body id="background1">

  <% include ../partials/zach_nav.ejs %>
	
	<img src="img/zach.PNG" class="img-rounded pic2">
	<div id="about">
		<strong><p>
			Zachary Larkin was born in Shelley, Idaho and is currently pursuing a Bachelor's Degree in Business. Zach created On Point Ties originally as a school
			assignment, but quickly realized that his idea solved a real need. After starting out by making ties to sell, Zach has since adapted his business to help
			those who are getting married on a budget. Now the bride and groom to be can order custom ties at an affordable price. Zach can make beautiful and fashionable
			ties for any occasion and can satisfy virtually every need. If you have any question don't hesitate to ask him! 
			</p></strong>
		</div>
	</body>
	<div class="gap">
	</div>
	<% include ../partials/zach_footer.ejs %>
</html>