<!DOCTYPE html>
<html>
<head>
  <% include ../partials/zach_header.ejs %>
	
	<% if (typeof name != "undefined") { %>
	<h3> Welcome: <%= name %> </h3>
	<% } %>
</head>

<body id="background1">

  <% include ../partials/zach_nav.ejs %>
	
	<img src="img/zach.PNG" class="img-rounded pic">
	<div id="about">
		<strong><p>
			This is a short intro to Zach and the company. Nothing major just a glimpse of the life of Zach and the start to it all. Also an invite to browse the page or contact
			at the bottom of the page.
			</p></strong>
		</div>
	</body>
</html>